body{
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #f4f4f4;
    margin: 0;
    padding: 0;
}

nav ul{
    list-style: none;
    background-color: #b30000;
    padding: 10px;
}

nav ul li{
    display: inline;
    margin-right: 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    text-decoration: underline;
}

h1{
    color: #e62429; /* Marvel red */
}

main{
    padding: 20px;
}

footer{
    background-color: #222;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    font-size: 14px;
}

iframe{
    max-width: 100%;
}

img{
    max-width: 100%;
    height: auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    padding: 20px;
}

.card {
    background-color: #1a1a1a;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.card img {
    width: 100% !important;
    height: 300px;
    object-fit: cover;
}

.card p {
    padding: 12px;
    font-size: 14px;
    line-height: 1.5;
}